.card-container {
  @apply gap-5 px-5 py-10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
