.card {
  @apply p-5 m-2 border rounded-md shadow-md;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  transition: all 0.5s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale(1.025);
    }
  }

  @media (min-width: 768px) {
    width: 320px;
    max-height: 500px;
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16;
  }

  &__image {
    @apply text-xl font-bold rounded-md;
    object-fit: cover;
  }

  &__description {
    @apply my-2 tracking-wide;
    text-indent: 15px;
  }

  &__button {
    @apply px-4 py-2 mt-4 rounded-full text-sm tracking-wide font-extrabold;
    color: #000;
    border: 3px solid #000;
    text-transform: uppercase;
    width: 150px;
    align-self: center;
    transition: 0.5s;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: transparent;
        color: #fff;
        background-color: #000;
      }
    }
  }
}
